<div class="container">
  <div class="row">
    <div class="col">
      <h1>O site mais divinis da internetis!</h1>
      <p>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.
        Aenean aliquam molestie leo, vitae iaculis nisl. Delegadis gente finis, bibendum
        egestas augue arcu ut est. Suco de cevadiss, é um leite divinis, qui tem lupuliz,
        matis, aguis e fermentis. Praesent malesuada urna nisi, quis volutpat erat hendrerit
        non. Nam vulputate dapibus. </p>
    </div>
    <div class="col">
      <img src="http://s2.glbimg.com/q9uA4E0oqxzQ_Sr7scOFiXARv8M=/300x225/s.glbimg.com/jo/g1/f/original/2014/07/29/mussum.jpg" alt="">
    </div>
  </div>
</div>
