<!--
<h1>Aula</h1>

<p class = paragrafo>Aula introdutória a respeito do Agular</p>
<p class = paragrafo>Boa Noite {{ nome }} </p>

<form class = formulario>
  <input type="text" name="valor" value="" [(ngModel)]="valor">
  <button type="button" name="button" (click)="clique()" >Clicar</button>
</form>
  <br/>
<form class = formulario>
  <input type="text" name="num1" value="" [(ngModel)]="num1"><br/>
  <input type="text" name="num2" value="" [(ngModel)]="num2"><br/>
  <button type="button" name="button" (click)="soma()" >Clique</button>
  <p>{{ resposta }}</p>
</form>
-->
<div class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-md bg-info">
      <a routerLink="" class="nav-link text-white" href="#">Home</a>
      <a routerLink="calculadora" class="nav-link text-white" href="#">Calculadora</a>
      <a routerLink="positivo" class="nav-link text-white" href="#">Positivo Negativo</a>
      <a routerLink="imc" class="nav-link text-white" href="#">IMC</a>
      <a routerLink="pessoa" class="nav-link text-white" href="#">Cadastro Pessoa</a>
      <a routerLink="arrays" class="nav-link text-white" href="#">Array</a>
      <a routerLink="estado" class="nav-link text-white" href="#">Estado</a>
      <a routerLink="categoria" class="nav-link text-white" href="#">Categoria</a>
    </nav>
  </header>
</div>
<router-outlet></router-outlet>
