<div class="container">
  <form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom01">Nome completo</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="Digite seu nome aqui" value="" required>
      <div class="valid-feedback">
        Muito bem!
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationCustom02">Endereço</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="Rua A, 000" value="" required>
      <div class="valid-feedback">
        Muito bem!
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom03">Cidade</label>
      <input type="text" class="form-control" id="validationCustom03" placeholder="Digite o nome da sua cidade" required>
      <div class="invalid-feedback">
        Por favor insira uma cidade válida!
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom04">State</label>
      <input type="text" class="form-control" id="validationCustom04" placeholder="Digite o nome do seu estado" required>
      <div class="invalid-feedback">
        Por favor insira um Estado válido!
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom05">CEP</label>
      <input type="text" class="form-control" id="validationCustom05" placeholder="CEP" required>
      <div class="invalid-feedback">
        porfavor insira um CEP válido!
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Cadastrar</button>
</form>

</div>
