<div class="container">
  <br/>
  <form>
  <div class="form-group">
    <label >Nome</label>
    <input class="form-control" type="text" name="nome" value="" [(ngModel)]= 'estado.nome' >
  </div>
  <div class="form-group">
    <label >Sigla</label>
    <input class="form-control" type="text" name="sigla" value="" [(ngModel)]= 'estado.sigla' >
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Detalhes</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="detalhes" rows="3" [(ngModel)]= 'estado.detalhes' ></textarea>
  </div>
  <button class="btn btn-info" type="button" name="button" (click)="adicionar()">Add</button>
</form>
<!--  <form>
    <input type="text" name="nome" value="" [(ngModel)]= 'estado.nome' >
    <input type="text" name="sigla" value="" [(ngModel)]= 'estado.sigla' >

    <button class="btn btn-info" type="button" name="button" (click)="adicionar()">Add</button>
  </form>
-->
  <br/>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Sigla</th>
        <th scope="col">Alterar</th>
        <th scope="col">Excluir</th>
        <th scope="col">Detalhes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let est of estados$ | async">
        <td>{{ est.nome }}</td>
        <td>{{ est.sigla }}</td>
        <td>
          <button class="btn btn-info" type="button" name="button" (click)="alterar(i)">
            <i class="fas fa-edit"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-info" type="button" name="button" (click)="excluir(i)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-info" type="button" name="button" data-toggle="modal" data-target=".modal" (click)="pegarEstado(i)">
             <i class="fas fa-address-book"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ estado2.nome }}</h5>
        </div>
        <div class="modal-body">
          <p>{{ estado2.detalhes }}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-info" type="button" name="button" data-dismiss="modal">
            <i class="far fa-window-close"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
